* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.jpg) center center no-repeat #1a1a1a;
    background-attachment: fixed;
    background-size: cover;
    border: 0;
    /*font: 16px 'Bitter', Arial, Helvetica, sans-serif;*/
    font: 16px 'Roboto', Arial, Helvetica, sans-serif;
    color: #dbdbdb;

    line-height: 1.5;
    min-width: 320px;
}

/*CSS Header*/

header {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 10px 0;
    font: 18px 'Roboto', Arial, Helvetica, sans-serif;
}

.topHeader {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.contactRestaurant {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    /*font-style: italic;*/
}

.logo {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}

.personCart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;

}

.listItemCart {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin: 0;

}

.cartItem {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.4s;
}

.cartItem:hover {
    color: #f5c328;
}

/*Nav*/
nav.navbar.navbar-light.navbar-toggleable-md.bg-faded.menuHeader {
    background-color: transparent;
}

div#navHeader {
    justify-content: center;
    background: rgba(241, 182, 1, 0.2);
}

li.nav-item {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

li.nav-item:hover a.nav-link.menuItem {
    color: #f5c328;
    border-bottom: 2px solid #f5c328;

}

li.nav-item a.nav-link.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font: 18px 'Roboto', Arial, Helvetica, sans-serif;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    font-weight: 700;
    padding: 1em;
    /*font-style: italic*/
}

li.nav-item.active a.nav-link.menuItem {
    color: #f5c328;
}

/* End --------------------Nav*/

/*End----------------- Header*/

/*Slider*/

.banner {
    height: 550px;
    display: flex;
}

.banner #carouselId {
    display: flex;
    flex: 1;
}

.banner #carouselId .carousel-inner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.banner #carouselId .carousel-inner .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.banner #carouselId .carousel-inner .carousel-item img.img-fluid.firstImage {
    max-width: 100%;
    max-height: 70%;
    position: absolute;
    left: 100px;
    top: 50px;
    visibility: hidden;
}

.banner #carouselId .carousel-inner .carousel-item img.img-fluid.imageSlider {
    max-width: 100%;
    max-height: 50%;
    position: absolute;
    right: 50px;
    top: 150px;
    visibility: hidden;
}

.banner #carouselId .carousel-control-prev, .banner #carouselId .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 20px;
    font-size: 40px;
}

.carousel-caption.titleSilder1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    left: 0px;
}

.carousel-caption.titleSilder2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 5%;
}

a.carousel-control-prev span, a.carousel-control-next span {
    width: 50px;
    height: 50px;
    display: flex;

    align-items: center;
    justify-content: center;
    background: rgb(102, 97, 97);
}

.banner #carouselId .carousel-indicators li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 20px;
    height: 20px;

}

/*End------------------Slider*/

/************************Menu */

.menu {
    display: flex;
    flex-direction: row;
    background: #ffffff;
}

.left {
    display: flex;
}

.left .list-unstyled {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.left li.wrapperItem {
    transition: all 0.2s ease-in-out 0s;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none !important;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
    background-color: #f5c328;
    position: relative;
    flex: 1;
}

.left li.wrapperItem:after {
    width: 28px;
    height: 24px;
    border-width: 12px 14px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    content: '';
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    z-index: 1;
    margin-top: -12px;
    margin-left: -14px;

}

.left li.wrapperItem:hover:after {
    opacity: 1;
}

.left li.wrapperItem a.itemMenu {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

}

.menu .right {
    display: flex;
    flex: 1;
    background-color: #ffffff;
    flex-wrap: wrap;
    position: relative;
    padding: 20px 0;
    /*height: inherit !important;*/
    /*padding: 20px;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.menu .right a.itemMenuOffer {
    position: relative;
    flex: 1;
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #000;
}

.col-lg-4.col-md-6.grid-item {
    margin-bottom: 20px;
}

.topProduct {
    /*padding: 0 15px;*/
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.itemsImage img {
    opacity: 1;
    transition: 0.4s;
}

a.linkItem {
    display: block;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    bottom: 0px;
    right: 0;

}

.topProduct:hover .itemsImage img {
    opacity: 0.6;
}

a.linkItem:hover .viewIcon, a.linkItem:hover .viewbg {
    opacity: 1;
    visibility: visible;

}

img.portfolio-inner-frame {
    width: 280px;
}

.viewIcon {
    position: absolute;
    max-width: 365px;
    width: 100%;
    height: 100%;
    background: rgba(26, 25, 25, 0.35);;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.viewIcon .btnAddCart i {
    color: #fff;
    font-weight: 400;
    padding: 13px 20px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    text-transform: none;
    font-size: 14px;
    background: #f5c328;
    border: none !important;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s, background-color .5s ease-out;
    font-style: normal;
}

.viewIcon .btnAddCart i:hover{
    background-color: rgb(216, 162, 0);
}

.viewbg {
    position: absolute;
    max-width: 365px;
    width: 100%;
    height: 100%;
    background: rgba(26, 25, 25, 0.35);;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    display: block;
    top: 0;
}

.itemsImage {
    display: block;
    line-height: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
}
img.imgDrink {
    max-width: 65%;
    margin-top: 3px;
}

.productDescription {
    display: flex;
    flex-direction: row;
}

.itemsDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 15px;
}

a.itemsTitle {
    text-decoration: none !important;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;

}

.itemsContent p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #444;
}

.itemsDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailCaption {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1;
    margin: 10px 0 5px;
    font-weight: bold;
    font-style: italic;
    color: #5d5d5d;
}

.portfolio-detail {
    padding-right: 5px;
}
.portfolio-detail.noCupond{
    padding: 0;
    padding-left: 5px;
}
.detailValue {
    color: #f5c328;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
    font-weight: bold;
}

/*End ------------------Menu */


/*Start------------------ComboPackage*/
.comboPackage {
    padding: 200px 0;
    color: #ffffff;
    background: url("../images/eatPizza.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

}

.comboPackage .col-lg-5.text-center{
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.comboPackage .col-lg-5 label, .comboPackage .col-lg-5 h1, .comboPackage .col-lg-5 p, .comboPackage .col-lg-5 button{
    visibility: visible;
}

.comboPackage .col-lg-5.text-center h2{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    font-family: Roboto,serif;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.comboPackage .col-lg-5.text-center h5{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-family: Roboto,serif;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.comboPackage .col-lg-5.text-center .btnRight{
    margin-top: 30px;
}
.comboPackage .col-lg-5.text-center .btnRight button.btn{
    cursor: pointer;
    outline: 0;
    font-size: 18px;
    transition: 0.4s;
}
.comboPackage .col-lg-5.text-center .btnRight button.btn:hover{
    color: #ffffff;
    background-color: #f5c328;
    border-color: #f5c328;
}
.comboPackage .col-lg-5.text-center  p{
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    margin: 10px 0;
}

.comboPackage .rightComboPackage {
    position: relative;
    width: 100%;
    height: 100%;
}

.comboPackage .backgroundBlur {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.comboPackage .rightComboPackage .drinkImage {
    position: absolute;
    right: 15px;
    top: -95px;
    z-index: 2;
    width: 100px;
    height: auto;
}

.comboPackage .rightComboPackage .smokeImage {
    position: absolute;
    right: 40%;
    top: -250px;
    z-index: 2;
    width: 200px;
    height: 400px;
}

.comboPackage .rightComboPackage .soySauceImage {
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 3;
    width: 100px;
    height: auto;
}

/*End ------------------ComboPackage*/

/*Start------------------Popular*/
.popularProduct {
    padding: 30px 0;
    background-color: #ffffff;

}

.popularProduct .headerPage {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

}
.popularProduct .headerPage h2{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 32px;
    color: #5d5d5d;
    font-family: Roboto,serif;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.popularProduct .headerPage label{
    visibility: visible;
}

.popularProduct .headerPage p{
    font-style: normal;
    font-size: 18px;
    color: black;
    line-height: 32px;
    margin-top: 20px;
}

.popularProduct .col-lg-3.col-md-6{
    margin-bottom: 20px;
}


/*End ------------------Popular*/

/*Start ------------------Blog*/
.blog {
    padding: 50px 0;
    padding-top: 20px;
    color: #ffffff;
    background: url("../images/pizza-slider.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

}

.blog .headerPage{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.blog  .headerPage h2{
    text-transform: uppercase;
    font-size: 48px;
    line-height: 32px;
    color: #ffffff;
    font-family: Roboto,serif;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.blog  .headerPage label{
    visibility: visible;
}
.blog .headerPage p{
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
    line-height: 32px;
    margin-top: 20px;
}


.blog .backgroundBlur {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.blog .oneBlogColumn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    transition: 0.4s;
}

.blog .oneBlogColumn .blogContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    max-width: 590px;
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}

.blog .oneBlogColumn .blogContent:hover .bgLayer {
    background: #000;
    opacity: 0.6;
}

.blog .oneBlogColumn .blogContent .bgLayer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #908b8b;
    opacity: 0.7;
    transition: 0.4s;
}

.blog .oneBlogColumn .blogContent .imgBlogLayer {
    display: block;
}

.blog .oneBlogColumn .blogContent:hover .blogText {
    opacity: 1;
    visibility: visible;
}

.blog .oneBlogColumn .blogContent .blogText {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    color: #fff;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
}

.blogText .blogTitle {
    font-size: 24px;
    line-height: 32px;
    display: block;
}

.blogText .blogButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background: #f5c328;
    margin: 15px;
    border-radius: 15px;
}

.blog .oneBlogColumn .blogContent .blogTag {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex: 1;
    right: 0;
    flex-wrap: wrap;
    z-index: 3;
}

.blogTag .blogTagItem {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    margin: 5px;
}

.blogTag .blogTagItem i {
    color: #f5c328;
    margin: 0 3px;
}

/*End ------------------Blog*/

.map {
    position: relative;
    color: #fff;
}

.map .backgroundBlur {
    background: #676767;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}

/*Start ------------------Footer*/
footer {
    background-color: #2e3033;
    background-image: url(http://ninzio.com/lacuisine/wp-content/uploads/footer_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    font-family: Roboto, sans-serif;
}

footer .topFooter {
    /*padding: 15px 0;*/
    background: #2e3033;
    text-transform: uppercase;
}

footer .topFooter a {
    transition: 0.4s;
    text-decoration: none;
}

footer .topFooter a:hover {
    color: #f5c328;
}

footer .topFooter a span i {
    margin-right: 5px;
    color: #f5c328;
    font-weight: bold;
    font-size: 18px;
}

.containerCol {
    padding: 15px;
    border-left: 1px solid #434548;
    border-right: 1px solid #434548;
    display: inline-block;
}

.arrow {
    padding: 15px 20px;
}

footer .middleFooter {
    padding: 20px 0;
    border-bottom: 1px solid #434548;
}

.middleFooter .titleColFooter {
    display: inline-block;
    margin: 10px 0;
    position: relative;
}

.middleFooter .titleColFooter {
    margin-bottom: 25px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
}

.middleFooter .titleColFooter:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 10px;
    width: 70px;
    height: 1px;
    background-color: #f5c328;
}

.middleFooter .titleColFooter:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #f5c328;

}

.middleFooter ul.list-unstyled.listLink li {
    padding: 5px 0;
    transition: 0.4s;
    cursor: pointer;
}

.middleFooter ul.list-unstyled.listLink li:hover a {
    color: #f5c328 !important;
}

.middleFooter ul.list-unstyled.listLink li a {
    position: relative;
    padding: 0;
    line-height: 24px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    outline: none;
    font-size: 16px;
    text-decoration: none;
    font-family: Roboto, sans-serif
}

.middleFooter .emailInput {
    display: flex;
    align-items: center;
    border-color: rgba(255, 255, 255, 0.5);
    border: 1px solid;
    flex-wrap: wrap;
    margin: 20px 0;
}

.middleFooter input.email {
    display: flex;
    padding: 10px;
    flex: 1;
    background-color: transparent;
    color: #bbbcbd;
    border: 0;
    outline: 0;
    text-align: left;
    height: 40px;
    max-width: 100%;
    width: 100%;
    line-height: 40px;
}

.middleFooter .emailInput span {
    padding: 0;
    margin-right: 2px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    z-index: 15;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    cursor: pointer;
    background: #f5c328bf;
}

.middleFooter .emailInput span:hover {

    background: #f5c328;
}

footer .socials ul.list-unstyled {
    display: flex;
    align-items: center;
    margin: 0;
}

footer .socials ul.list-unstyled li {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;
}

footer .socials ul.list-unstyled li:hover {
    background-color: #fff;
}

footer .socials ul.list-unstyled li:hover > a {
    color: #f5c328;
}

footer .socials ul.list-unstyled li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    font-weight: bold;
    flex: 1;
}

footer .bottomFooter {
    padding: 10px 0;
}

footer .bottomFooter p {
    margin-bottom: 10px;
}

/*End------------------Footer*/

@media (max-width: 1350px) {
    .itemsImage {
        display: block;
        line-height: 0;
        position: absolute;
        top: 23px;
        left: 23px;
        right: 23px;
        bottom: 23px;
    }
}

@media (max-width: 992px) {

    /*Header*/
    header {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 0;
        padding-top: 5px;
        font: 18px 'Roboto', Arial, Helvetica, sans-serif;
        background: #fff;
    }

    .topHeader {
        margin: 0;
    }

    .logo a.navbar-brand img {
        max-width: 150px;
        height: auto;
    }

    .address {
        display: none;
        visibility: hidden;
    }

    .phone {
        color: #9d9d9d;
    }

    .cartItem {
        color: #9d9d9d;
    }

    button.navbar-toggler.hidden-lg-up {
        outline: none;
        border: 1px solid #f5c328;
        color: #9d9d9d;
    }

    div#navHeader {
        justify-content: center;
        background: transparent;
    }

    li.nav-item:hover a.nav-link.menuItem {
        color: #f5c328;
        border-bottom: 1px solid #f5c328;
    }

    li.nav-item a.nav-link.menuItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #9d9d9d;
        font: 14px 'Roboto', Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #f5c328;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        font-weight: 700;
        padding: 0.5em;
        flex: 1;

    }

    li.nav-item:last-child a.nav-link.menuItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #9d9d9d;
        font: 14px 'Roboto', Arial, Helvetica, sans-serif;
        border-bottom: none;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        font-weight: 700;
        padding: 0.5em;
        flex: 1;

    }

    /*End --------Header*/
    /************************Menu */
    .menu {
        display: flex;
        flex-direction: column;

    }

    .left {
        display: flex;
    }

    .left .list-unstyled {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin: 0;
    }

    .left li.wrapperItem {
        transition: all 0.2s ease-in-out 0s;
        display: flex;
        justify-content: space-around;
        text-align: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border: none !important;
        color: #fff;
        font-size: 25px;
        padding: 20px 0;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
        background-color: #f5c328;
        position: relative;
        flex: 1;
    }

    .left li.wrapperItem:after {
        display: none;

    }

    .left li.wrapperItem a.itemMenu {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    /*End ------------------Menu */
    /*------------------------------------------------------------------------ */
    /*Start  ------------------ banner*/
    .banner #carouselId .carousel-inner .carousel-item img.img-fluid.firstImage {
        width: 320px;
        height: auto;
        position: absolute;
        left: 50%;
        top: 0px;
        margin-left: -20%;

    }

    .carousel-caption.titleSilder1 {
        position: absolute;
        bottom: 50px;
        justify-content: center;
        flex-direction: column;
        padding-right: 0;
        z-index: 10;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        padding-left: 0;
        top: auto;
        align-items: center;
    }

    .banner #carouselId .carousel-inner .carousel-item img.img-fluid.imageSlider {
        width: 500px;
        height: auto;
        top: 30px;
        right: 50%;
        margin-right: -30%;
    }

    .carousel-caption.titleSilder2 {
        position: absolute;
        right: 15%;
        bottom: 50px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        padding-left: 0;
        top: auto;
        align-items: center;
    }

    /*End------------------ banner*/
    /*------------------------------------------------------------------------ */
    /*Start  ------------------ comboPackage*/
    .comboPackage {
        padding: 30px 0;
    }

    .comboPackage .rightComboPackage {
        margin-top: 30px;
        text-align: center;
    }

    .comboPackage .rightComboPackage img.img-fluid.pizzaImage {
        max-width: 80%;
    }

    .comboPackage .rightComboPackage .drinkImage {
        right: 70px;
    }

    .comboPackage .rightComboPackage .soySauceImage {
        right: 95px;
    }

    /*End------------------ comboPackage*/
    /*------------------------------------------------------------------------ */

}
@media (max-width: 767px) {
    /**Footer*!*/
    footer .topFooter {
        /*padding: 15px 0;*/
        background: #2e3033;
        text-transform: uppercase;
    }

    footer .topFooter a {
        transition: 0.4s;
        text-decoration: none;
    }

    footer .topFooter a:hover {
        color: #f5c328;
    }

    footer .topFooter a span i {
        margin-right: 5px;
        color: #f5c328;
        font-weight: bold;
        font-size: 18px;
    }

    .containerCol {
        padding: 15px;
        border: 0;
        border-bottom: 1px solid #434548;
        display: block;
        text-align: center;
    }
    .order{
        text-align: center;
    }
    .scrollTop .containerCol {
        padding: 10px;
        border: 0;
        border-top: 1px solid #434548;
        display: block;
    }

    span.arrowSrcollTop{
        padding: 5px;
    }
    a.containerCol.arrow {
        text-align: center;
    }

    .arrow {
        padding: 15px 20px;
    }
}
@media (min-width: 320px) and  (max-width: 576px) {

    /*Header*/
    header {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 0;
        padding-top: 5px;
        font: 14px 'Roboto', Arial, Helvetica, sans-serif;
        background: #fff;
    }

    .logo a.navbar-brand img {
        max-width: 100px;
        height: auto;
    }

    li.nav-item a.nav-link.menuItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #9d9d9d;
        font: 14px 'Roboto', Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #f5c328;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        font-weight: 400;
        padding: 0.5em;
        flex: 1;

    }

    li.nav-item:last-child a.nav-link.menuItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #9d9d9d;
        font: 14px 'Roboto', Arial, Helvetica, sans-serif;
        border-bottom: none;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        font-weight: 400;
        padding: 0.5em;
        flex: 1;

    }

    /*End --------Header*/
    .menu {
        display: flex;
        flex-direction: column;

    }

    .left {
        display: flex;
    }

    .left .list-unstyled {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin: 0;
    }

    .left li.wrapperItem {
        transition: all 0.2s ease-in-out 0s;
        display: flex;
        justify-content: space-around;
        text-align: center;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border: none !important;
        color: #fff;
        font-size: 25px;
        padding: 0;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
        background-color: #f5c328;
        position: relative;
        flex: 1;
    }

    .left li.wrapperItem:after {
        display: none;

    }

    .left li.wrapperItem a.itemMenu {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        font-size: 18px;
    }

    .left li.wrapperItem a.itemMenu span img {
        width: 30px;
        height: 30px;
    }

    .menu .right .row:nth-child(2) {
        display: none;
        visibility: hidden;
    }

    .menu .right a.itemMenuOffer {
        padding: 0 20px;
    }

    /*End ------------------Menu */
    /*Start  ------------------ banner*/
    .banner {
        height: 400px;
        display: flex;
    }

    .banner #carouselId .carousel-inner .carousel-item img.img-fluid.firstImage {
        width: 150px;
        height: auto;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -75px;
    }

    .carousel-caption.titleSilder1 {
        position: absolute;
        bottom: 50px;
        justify-content: center;
        flex-direction: column;
        padding-right: 0;
        z-index: 10;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        padding-left: 0;
        top: auto;
        align-items: center;
    }

    .banner #carouselId .carousel-inner .carousel-item img.img-fluid.imageSlider {
        width: 250px;
        height: auto;
        top: 30px;
        right: 50%;
        margin-right: -125px;
    }

    .carousel-caption.titleSilder2 {
        position: absolute;
        right: 15%;
        bottom: 50px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        padding-left: 0;
        top: auto;
        align-items: center;
    }

    /*End------------------ banner*/
    .popularProduct .productItem {
        flex: 1;
        flex-direction: column;
        text-decoration: none;
        border: 1px solid #f5c328;
        transition: 0.4s;
        margin-bottom: 50px;
    }

    .popularProduct .productItem .topProductItem {
        position: relative;
        overflow: hidden;
        justify-content: center;
        flex: 1;
        height: 260px;
        display: flex;
        align-items: center;
        border: 0;
        margin-bottom: 15px;
        transition: 0.4s;
    }

    .popularProduct .productItem .bottomProductItem .btnAddCart {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
        transition: 0.4s;
    }

    /*------------------------------------------------------------------------ */
    /*Start  ------------------ comboPackage*/
    .comboPackage {
        padding: 30px 0;
    }

    .comboPackage .col-lg-5.text-center h2 {
        font-size: 18px;
    }

    .comboPackage .col-lg-5.text-center h5 {
        font-size: 16px;
    }

    .comboPackage .rightComboPackage img.img-fluid.pizzaImage {
        max-width: 90%;
    }

    .comboPackage .rightComboPackage .drinkImage {
        position: absolute;
        right: 25px;
        top: -35px;
        z-index: 2;
        width: 50px;
        height: auto;
    }

    .comboPackage .rightComboPackage .soySauceImage {
        right: 40px;
        position: absolute;
        top: 30px;
        z-index: 3;
        width: 60px;
        height: auto;
    }

    .comboPackage .rightComboPackage .smokeImage {
        position: absolute;
        right: 40%;
        top: -55px;
        z-index: 2;
        width: 100px;
        height: auto;
    }

    /*End------------------ comboPackage*/
    /*------------------------------------------------------------------------ */
    /*Start------------------ popular*/
    .popularProduct .row:nth-child(2) {
        display: none;
        visibility: hidden;
    }

    .popularProduct .productItem {
        margin-bottom: 10px;
    }

    /*End------------------ popular*/
    /*------------------------------------------------------------------------ */
    .blogTag .blogTagItem {
        padding: 5px;
        font-size: 14px;
    }

    .blogTag .blogTagItem i {
        color: #f5c328;
        margin: 0;
    }

    /*Footer*/
    footer .topFooter {
        /*padding: 15px 0;*/
        background: #2e3033;
        text-transform: uppercase;
    }

    footer .topFooter a {
        transition: 0.4s;
        text-decoration: none;
    }

    footer .topFooter a:hover {
        color: #f5c328;
    }

    footer .topFooter a span i {
        margin-right: 5px;
        color: #f5c328;
        font-weight: bold;
        font-size: 18px;
    }

    .containerCol {
        padding: 15px;
        border: 0;
        border-bottom: 1px solid #434548;
        display: block;
        text-align: center;
    }
    .order{
        text-align: center;
    }
    .scrollTop .containerCol {
        padding: 10px;
        border: 0;
        border-top: 1px solid #434548;
        display: block;
    }

    span.arrowSrcollTop{
        padding: 5px;
    }
    a.containerCol.arrow {
        text-align: center;
    }

    .arrow {
        padding: 15px 20px;
    }

}
.title-special{
    z-index: 6;
    white-space: nowrap;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    color: rgb(241, 182, 1);
    font-family: Arizonia;
    visibility: inherit;
    border-width: 0px;
    opacity: 1;
    width: 100%;
    visibility: hidden;
}

.title-normal{
    z-index: 7;
    white-space: nowrap;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    text-transform: uppercase;
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    opacity: 1;
    visibility: hidden;
}

.button-addcart{
    z-index: 9;
    white-space: nowrap;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    background-color: rgb(241, 182, 1);
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    outline: medium none currentcolor;
    box-sizing: border-box;
    cursor: pointer;
    border-width: 0px;
    margin: 0px;
    padding: 12px 35px;
    letter-spacing: 0px;
    opacity: 1;
    border-style: solid;
    transition: background-color .5s ease-out;
    margin-right: 15px;
    visibility: hidden;
}

.button-addcart:hover{
    background-color: rgb(216, 162, 0);
}

.button-infor{
    z-index: 10;
    white-space: nowrap;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px;
    padding: 10px 33px;
    opacity: 1;
    background-color: transparent;
    transition: background-color .5s ease-out, border-color .5s ease-out;
    visibility: hidden;
}

.button-infor:hover{
    background-color: rgb(216, 162, 0);
    border-color: rgb(216, 162, 0);
}

.carousel-indicators li{
    border-radius: 100%;
}