*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}
.wpPageTitle{
    margin-top: 50px;
    position: relative;
    display: flex;
    height: 80px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.container.containerTitle{
    height: 100%;
    display: flex;
    align-items: center;
}
.pageTitle{
    align-items: center;
    display: flex;
    border-right: 25px solid #c29c27;
    vertical-align: middle;
    padding: 20px 40px 20px 30px;
    background: #f5c328;
    z-index: 1;
    position: absolute;
    top: 45px;
    left: 30px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}
.pageTitle span.iconTitle{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}
.pageTitle h2.titleText{
    margin: 0;
    color: #fff;
    font-size: 36px;
    letter-spacing: 1.26px;
}
.titleContent{
    margin-bottom: 20px;
}
h2.headerPage{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    color: #5d5d5d;
    font-family: Roboto,serif;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.contentPage{
    background-color: #e7e7e7;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 50px 0;
}
.contentPage .col-lg-6.col-md-12{
    margin-bottom: 30px;
}
.wp-productName{
    text-align: center;
    margin-bottom: 30px;
}
.wp-productName h2 {
    padding: 10px 25px;
    font-size: 24px;
    line-height: 28px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 15;
}

.wp-productName h2.titleCol:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -110px;
    margin-top: -2.5px;
    width: 95px;
    height: 5px;
    background: url(../../images/lines.png) no-repeat left top;
}
.wp-productName h2.titleCol:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: auto;
    right: -110px;
    margin-top: -2.5px;
    width: 95px;
    height: 5px;
    background: url(../../images/lines.png) no-repeat left top;
}
.imgCategory{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 30px;
}
.containerProduct{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
   background-color: #ffffff;
}
.listProduct .oneProduct{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px dotted #cdc5c5;
    border-bottom: 1px dotted #cdc5c5;
}
.listProduct .oneProduct .row{
    padding: 15px 20px 25px 20px;
    position: relative;
}
.oneProduct  .col-lg-4.col-md-3.col-sm-12{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listProduct .oneProduct .leftLink{
    min-width: 127px;
    max-width: 127px;
    text-decoration: none;
    outline: none;
}
.oneProduct .col-lg-8.col-md-9.col-sm-12{
    position: relative;
    padding-left: 25px;
}
.oneProduct .productTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.oneProduct .productTitle a.textProduct{
    font-size: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333;

}
.oneProduct .productTitle span.priceProduct {
    font-size: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #f5c328;
}

.oneProduct .startRate{
    display: flex;
    align-items: center;
}

.oneProduct .startRate span i.fa{
    color: #f5c328;
}
.oneProduct .describeProduct{
    margin: 10px 0 ;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 14px;
}
.oneProduct .buttonAddCart{
    margin: 10px 0;
    position: relative;
    display: inline-block;
    font-size: 14px;
    z-index: 2;
    margin-bottom: 20px;
}
.oneProduct button {
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: #f5c328;
    cursor: pointer;
}
.oneProduct button:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border: 1px solid #f5c328;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transform: translate(5px,5px);
    -moz-transform: translate(5px,5px);
    -ms-transform: translate(5px,5px);
    -o-transform: translate(5px,5px);
    transform: translate(5px,5px);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.buttonAddCart:hover button:before {
    -webkit-transform: translate(-5px,-5px);
    -moz-transform: translate(-5px,-5px);
    -ms-transform: translate(-5px,-5px);
    -o-transform: translate(-5px,-5px);
    transform: translate(-5px,-5px);
}
.paginationContainer {
    padding: 15px 0;
    display: flex;
}
.paginationContainer nav{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.paginationContainer nav ul.pagination{
    margin: 0;
}

li.page-item a.page-link{
    text-decoration: none;
    color: #777777;
    transition: 0.4s;
}
ul.pagination .page-item a.page-link {
    margin: 0 5px;
    border-radius: 3px;
}
ul.pagination .page-item.active .page-link {
    color: #ffffff;
    background-color: #f5c328;
    border-color: #f5c328;
}
.page-item .page-link:hover {
    color: #ffffff;
    background-color: #f5c328;
    border-color: #f5c328;
}
@media (max-width: 992px) {

}
@media (max-width: 767px) {

}
@media (max-width: 576px) {
    .wpPageTitle .container {
        margin: 0;
    }

    .pageTitle {
        align-items: center;
        display: flex;
        border-right: 25px solid #c29c27;
        vertical-align: middle;
        padding: 10px 20px 10px 20px;
        background: #f5c328;
        z-index: 1;
        position: absolute;
        top: 45px;
        left: 30px;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
    }

    .pageTitle h2.titleText {
        margin: 0;
        color: #fff;
        font-size: 30px;
        letter-spacing: 1.26px;
    }

    .pageTitle span.iconTitle {
        display: flex;
        align-items: center;
        font-size: 26px;
        color: #fff;
        margin-right: 10px;
    }
}

